## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-journal

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]roject.lock.json

## Node
node_modules/
dist/
.vite/
**/wwwroot/assets/

## IDE
.vs/
.vscode/
.idea/
*.swp

## OS
.DS_Store
Thumbs.db
